.tapToShowImg {
    width: 1.5em;
    height: 1.5em;
    padding: 1em;
    aspect-ratio: 1/1;
    background-color: rgb(30, 36, 56);
    border-radius: 10em;
    transition: scale 0.35s, background-color 0.35s;
}

.tapToShowImg.toggle {
    background-color: rgb(39, 47, 73) !important;
}

.tapToShowImg:Hover {
    background-color: rgb(39, 47, 73) !important;
    scale: 1.08;
}

.tapToShowImg:Active {
    background-color: rgb(39, 47, 73) !important;
    scale: 0.95;
}

.tapToShowCont {
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 40;
    border-style: solid;
    border-width: 0px;
    background-color: transparent;
}



.tapToShowItemsCont {
    position: absolute;
    left: 0%;
    top: 130%;
    font-size: 1em;
    font-weight: 500;

    background-color: rgb(30, 36, 56);
    border-radius: 0.4em;
    padding: 0.5em;
    user-select: none;

    min-width: 2em;
    min-height: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(44, 44, 44);

    overflow: hidden;


}


.tapToShowClose {
    width: 1em;
    height: 1em;

    position: absolute;
    right: 0.5em;
    top: 0.5em;
}