.fileBG {

    background-color: rgb(21, 26, 40);
    border-radius: 0.8em;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(44, 44, 44);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.4em;

    overflow: hidden;

    position: relative;


}

.filesCont {
    display: flex;
    flex-direction: column;

    width: calc(97% - 1em);
    height: 100%;
    margin: 0 0.5em;

}

.fileInnerCont {
    display: grid;
    grid-template-columns: 20% 80%;
    height: inherit;
    max-height: calc(100% - 6em);

}


@media only screen and (max-width: 800px) {
    .fileInnerCont {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@media only screen and (max-width: 490px) {
    .filesCont {
        margin-bottom: 10em;
    }
}